@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

* {
  font-family: "Raleway", sans-serif;
}

.swiper-button-next,
.swiper-button-prev {
  width: 32px !important;
  height: 32px !important;
  color: #f96c1f !important; /* Your brand orange */
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #045c90 !important; /* Your brand blue */
}
